#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #7089f8;
  
}

.grid {
  background-color: #b2bdf8;
}

.grid td {
  border: 1px solid #000000;
  width: 100px;
  height: 100px;
  padding: 8px;
  text-align: center;
}

.grid td[draggable="true"] {
  cursor: grab;
}

.grid td.drag-over {
  background-color: #f0f0f0;
}